/* 全局过渡动效设置，让每一个页面的切换都有淡出 (fade) 效果 */

.page-enter-active, .page-leave-active {
  transition: opacity .75s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}

/* 防剧透效果 */

span.spoiler {
  color: #000000;
  background-color: #000000;
  padding: 0px 8px;
}

span.spoiler:hover {
  color: #ffffff;
}

span.spoiler > span {
  visibility: hidden;
}

span.spoiler:hover > span {
  visibility: visible;
}
